.btnStyle {
    border-radius: 20px !important;
    width: 100% !important;
    line-height: 1.75;
}

.paperStyle {
    padding: 30px 30px;
    max-width: 410px;
    width: 100%;
    margin: 20px auto;
    box-sizing: border-box;
}

.tableCell {
    max-width: 200px;
    overflow-wrap: break-word;
}

.modalBtnBlock {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 100px;
}

.textFieldModal {
    margin-bottom: 30px !important;
    width: 100%;
}

.questionImg {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}