
.span {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    max-width: 200px;
    overflow: hidden;
    text-overflow:  ellipsis;
    min-height: 35px;
    padding-right: 30px;
    white-space: nowrap;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.span:before {
    position: absolute;
    content: '';
    top: calc(50% - 12px);
    right: 0px;
    background-image: url("../../../assets/images/pen.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

