.wrapper {
    background: #FCFCFC;
    box-shadow: 0px 2px 10px rgba(109, 109, 109, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoImg {
    object-fit: contain;
    max-height: 50px;
}

.btn {
    border-radius: 30px;
    min-width: 115px;
}

@media (max-width: 991px) {
    .logoLink {
        max-width: 50%;
    }

    .logoImg {
        display: inline-block;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .inner {
        gap: 10px;
    }
}