.btnBlock{
    display: inline-flex;
    gap: 15px;
    min-width: 85px;
}

.btn{
    width: 18px;
    height: 18px;
    border: none;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.btnDisabled{
    opacity: 0.5;
    cursor: auto;
}
.blockBtn{
    margin-right: 30px !important;
    font-size: 12px !important;
    line-height: 1 !important;
}

@media(max-width: 576px){
    .btnBlock{
        flex-wrap: wrap;
        min-width: 60px;
    }
}