.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}


@media(max-width: 576px){
    .wrapper{
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}