.inputBlock {
    margin-bottom: 5px;
    color: #FAAB1B;
    border: 1px solid black;
    border-radius: 5px;
}

.inputBlock:focus {
    outline: none;
    border: 1px solid #11ea11;
}

.errorInput {
    border: 1px solid red;
}

.error {
    color: red;
}