.inputBlock {
  margin-bottom: 5px;

  color: #faab1b;

  border: 1px solid black;
  border-radius: 5px;
}

.inputBlock:focus {
  border: 1px solid #11ea11;
  outline: none;
}

.errorInput {
  border: 1px solid red;
}

.error {
  color: red;
}
