
.navlink a {
    margin-right: 20px;
}
.container {
    margin: 0 auto;
    max-width: 80%;
    padding: 0 15px;
}
.adaptivePadding{
    margin-bottom: 30px;
}
@media(max-width: 991px){
    .container{
        max-width:100%;
    }
}
@media(max-width: 576px){
    .adaptivePadding{
        margin-bottom: 10px;
    }
}


