
.mainbox {
    position: relative;

    width: 100%;
    min-height: 75vh;
    margin: auto;

    background-color: #95c2de;
}

.err {
    position: absolute;
    top: 8%;
    left: 20%;

    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    color: #ffffff;
}

.far {
    position: absolute;
    top: 10%;
    left: 42%;

    font-size: 8.5rem;
    color: #ffffff;
}

.err2 {
    position: absolute;
    top: 8%;
    left: 68%;

    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    color: #ffffff;
}

.msg {
    position: absolute;
    top: 45%;
    left: 16%;

    width: 75%;

    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    text-align: center;
}

.mainbox a {
    color: white;
    text-decoration: none;
}

.mainbox a:hover {
    text-decoration: underline;
}

