.form{
    display: block;
    width: 420px;
    margin-right: 24px;
}

.label{
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
}

.input{
    width: 100%;
    padding: 6px 40px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    box-sizing: border-box;
}

.input::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0,0,0, 0.5)
}
